body{
	background-color:#f4f4f4;
	color:#555;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:1.6em;
	margin:0;
}

.fixit{
	position: fixed;
}

a{
	text-decoration: none;
}
.container{
	width:80%;
	margin:auto;  
	overflow:hidden;
}
.Search{
	position: relative;	
	top: -28px;	
	float: right;	
	width: 25%;
	height: 25px;
	text-indent: 10px;



}

#main-header{	  
  height: 55px;
		
}

#main-header img{
  float: left;
  width: 60px;
  height: 60px;
  
}

#main-header h1{
  position: relative;
  top: 18px;
  left: -10px;
  color:#003366;
  font-size:20px;
}

#navbar{
	background-color:#333;
	color:#fff;
	
	
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#f8f4f4;	
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../images/aa.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:28px;
	line-height: 1.6em;
	padding-top:30px;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:10px;
	margin-top:150px;
}

#main button{
	background: rgb(65, 133, 235);
	color: rgb(246, 248, 250);
	width: 120px;
	height: 35px;
	border: 1px solid #338033;
	font-size: 14px;
	position: relative;	
	top: -40px;
	

	float: right;
	
}

.questions {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #d6d9dc;
    overflow: auto;
}

.questions .info {
    width: 30%;
    float: left;
    position: relative;
    top: 25px;
}



.info .votes,.info .answers,.info .views {
    width: 33.3%;
    float: left;
}

.questions .summary{
    width: 70%;
    float: left;
    position: relative;
    top: 0;
}

.summary .tags{
    width: auto;
    float: left;
}

.summary .tags a, .view-align .viewquestion .question-body .body .tags {
    display: inline-block;
    padding: 2px;
    font-size: 14px;
    border-style: 1px solid #d6d9dc;
    color: #39739d;
    background-color: rgb(225, 236, 244);    
    border-radius: 3px;
}

.summary h3 a{
    color: #39739d;
    
}
.summary h3 a:hover{
    color: #4688b8;
}

.summary .tags a:hover{
    background-color: #c3d8e7;
}
.summary .timestamp{
    width: auto;
    float: right;
}

.summary .timestamp{
    color: #c6d3dd;
    font-size: 15px;
}

.summary .timestamp #user:hover{
    color:  #c3d8e7;
}
